.newsletter{
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
.newsTitle{
  font-size: 70px;
  margin-bottom: 20px;
}
.newsDesc{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}
.newsSearchWrapper{
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.newsInput, .newsBtn {
  height: 100%;
  border: none;
  box-sizing: border-box; /* 패딩과 경계를 포함하여 높이 계산 */
}
.newsInput{
  height: 100%;
  border:none;
  padding-left: 12px;
  flex: 8;
}
.newsBtn{
  height: 100%;
  flex: 1;
  border: none;
  background-color: #2c3333;
  color: white;
}