/* src/pages/AdminPage.css */

.admin-container {
  margin-top: 20px;
}

.admin-nav {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.admin-nav-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.admin-nav-item {
  margin-right: 1rem;
}

.admin-nav-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease; /* 트랜지션 추가 */
}

.admin-nav-link:hover {
  color: gray;
  transform: scale(1.1); /* hover 시 크기 증가 효과 추가 */
}
