/* Login.css */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('/images/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.loginWrapper {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  margin-top: 50px;
}

.loginTitle {
  margin-bottom: 20px;
  font-size: 40px;
  color: #333;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginInput {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginBtn {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loginBtn:hover {
  background-color: #555;
}

.loginText {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.loginText:hover {
  text-decoration: underline;
  color: #ccc;
}
