/* Navbar.css */

.navbar {
  width: 100%;
  height: 78px;
  border-bottom: 0.5px solid lightgray;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.navLeft {
  flex: 1;
  display: flex;
  align-items: center;
}

.navLanguage {
  font-size: 14px;
  cursor: pointer;
}

.navSearchContainer {
  border: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 5px;
}

.navInput {
  border: none;
}

.navInput:focus {
  outline: none;
}

.navCenter {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.navRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navMenuItem {
  font-size: 12px;
  cursor: pointer;
  margin: 20px;
}

.navLink {
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
}

.navLink:hover {
  color: #6b4226;
}

.navLogo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navWelcome {
  font-size: 16px;
  margin-right: 20px;
  color: #333;
  font-weight: bold;
  cursor: default;
}

.mobileMenuIcon {
  display: none;
  cursor: pointer;
}

/* 반응형 스타일 */

/* 태블릿 및 모바일 (화면 너비 768px 이하) */
@media (max-width: 768px) {
  .navRight {
    display: none;
  }

  .mobileMenuIcon {
    display: block;
  }
}

/* 모바일 메뉴 스타일 */
.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  width: 100%;
  padding: 10px;
}
.mobileMenu .navMenuItem {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid lightgray; /* 각 항목 아래에 경계선 추가 */
}

.mobileMenu .navSearchContainer {
  margin-left: 0;
  width: 100%;
}
