/* 기본 스타일 */
.navbar {
  background: linear-gradient(to right, #f0e5d6, #bb8246);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;

  padding: 0 24px;
}

.navLeft {
  display: flex;
  align-items: center;
}

.navCenter {
  display: none; /* 로고를 왼쪽으로 옮기기 위해 중앙 영역 숨김 */
}

.navLogo {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.navRight {
  display: flex;
  align-items: center;
}

.navMenuItem {
  margin-left: 20px;
}

.navLink {
  color: #fff;
  text-decoration: none;
}

.mobileMenuIcon {
  display: none;
  color: #fff;
  cursor: pointer;
}

/* 모바일 반응형 스타일 */
@media screen and (max-width: 960px) {
  .mobileMenuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
  }
  .navRight {
    display: none;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    width: 96%;
    
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #f0e5d6, #bb8246);
    padding-top: 20px;
    z-index: 1;
  }
  .navWrapper{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); /* 흐릿한 경계선 */
    z-index: 2;
  }
  .navMenuItem {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding-bottom: 10px; /* 텍스트와 경계선 사이의 간격 */
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); /* 흐릿한 경계선 */
  }

  .navLink {
    font-size: 1.5rem;
  }
}
